@model Propertyy

@{
    ViewData["Title"] = "Property Details";
}

<h2>Property Details</h2>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.Title</dd>
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>
        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>
        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.Address</dd>
        <dt class="col-sm-2">Posted Date</dt>
        <dd class="col-sm-10">@Model.PostedDate.ToShortDateString()</dd>
        <dt class="col-sm-2">Image</dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" alt="Property Image" class="img-fluid" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
